In [24]:
# Importing packages:
import pandas as pd

In [25]:
df_1star = pd.read_csv('./input/one-star-michelin-restaurants.csv')
df_2star = pd.read_csv('./input/two-stars-michelin-restaurants.csv')
df_3star = pd.read_csv('./input/three-stars-michelin-restaurants.csv')

In [26]:
# Adding column 'stars':
df_1star['stars'] = [1]*df_1star.shape[0]
df_2star['stars'] = [2]*df_2star.shape[0]
df_3star['stars'] = [3]*df_3star.shape[0]

In [27]:
# putting the three dataframes together
df = pd.concat([df_1star, df_2star,df_3star], ignore_index=True, sort=False)

In [28]:
display(df.head(3))

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,stars
0,Kilian Stuba,2019,47.34858,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.83787,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.80685,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1

In [30]:
print(df.dtypes)

name          object
year           int64
latitude     float64
longitude    float64
city          object
region        object
zipCode       object
cuisine       object
price         object
url           object
stars          int64
dtype: object

In [42]:
# Deleting columns that I will not need in my analysis:
# Award year & zipCode
df = df.drop(['zipCode','year'], axis=1)
display(df.head(3))

,name,latitude,longitude,city,region,cuisine,price,url,stars
0,Kilian Stuba,47.34858,10.17114,Kleinwalsertal,Austria,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,47.83787,13.07917,Hallwang,Austria,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,47.80685,13.03409,Salzburg,Austria,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1

In [43]:
null_cols = df.isnull().sum()
print(null_cols[null_cols > 0])

city       2
price    176
dtype: int64

In [44]:
df[df['city'].isnull() == True]

,name,latitude,longitude,city,region,cuisine,price,url,stars
152,Épure,22.295830,114.169304,NaN,Hong Kong,French,$$$,https://guide.michelin.com/hk/en/hong-kong-reg...,1
166,Arbor,22.283146,114.155420,NaN,Hong Kong,Innovative,$$$,https://guide.michelin.com/hk/en/hong-kong-reg...,1

In [ ]:
df[df['price'].isnull() == True]

In [41]:
set(df['price'])

{'$', '$$', '$$$', '$$$$', '$$$$$', nan}

In [ ]:
set(df['cuisine'])

In [46]:
import requests
from bs4 import BeautifulSoup

In [ ]:
prices_list = []
for i in range(len(df)):
    url = df['url'][i]
    res = requests.get(url)
    html = res.text
    soup = BeautifulSoup(html, 'html.parser')
    prices = soup.select('.restaurant-details__heading-price')
    if prices:
        # print(i)
        # print([df['name'][i],prices[0].text])
        prices_list.append([df['name'][i],re.sub('\n|\s','',prices[0].text)])

In [101]:
print(len(prices_list))
print(len(df))

683
695

In [107]:
for e in prices_list:
    e[1] = e[1].split('•')

In [113]:
restaurants = [e[0] for e in prices_list]
price = [e[1][0] for e in prices_list]
# rest_type = [e[1][1] for e in prices_list]

In [ ]:
correct_price = []
for e in price:
    correct_price.append(re.sub(',','',e))
correct_price

In [ ]:
correct_price_2 = []
for i in range(len(correct_price)):
    correct_price_2.append('{} {}'.format(correct_price[i][:-3],correct_price[i][-3:]))
# correct_price_2

In [151]:
df = pd.DataFrame({'restaurants':restaurants,'price':correct_price_2})
display(df)

                         restaurants              price
0                       Kilian Stuba         90-120 EUR
1                      Pfefferschiff         59-120 EUR
2                          Esszimmer         45-128 EUR
3                         Carpe Diem         61-118 EUR
4                             Edvard         33-158 EUR
5                           Das Loft          59-99 EUR
6                 Pramerl & the Wolf          65-95 EUR
7                       Walter Bauer          52-78 EUR
8                              SHIKI         92-125 EUR
9                               Tian         89-127 EUR
10                              aend         39-120 EUR
11           Le Ciel by Toni Mörwald         53-145 EUR
12                           Chez TJ         75-150 USD
13                           Protégé          50-75 USD
14                            Madera          50-75 USD
15                   The Village Pub          50-75 USD
16                      Plumed Horse         75-150 USD
17                          Wakuriya         75-150 USD
18                   Sushi Yoshizumi         75-150 USD
19                              Rasa          25-50 USD
20                              Maum         75-150 USD
21                        Al's Place          25-50 USD
22                           Omakase         75-150 USD
23                              Luce          50-75 USD
24                          Birdsong         75-150 USD
25                           In Situ         75-150 USD
26                            Mourad          50-75 USD
27                           Hashiri         75-150 USD
28                            Angler         75-150 USD
29                        Rich Table          50-75 USD
..                               ...                ...
653               The French Laundry         75-150 USD
654      The Restaurant at Meadowood         75-150 USD
655                     SingleThread         75-150 USD
656                           Alinea        250-270 USD
657                         Geranium      2500-2500 DKK
658                      T'ang Court       360-1700 HKD
659                    Bo Innovation       750-2680 HKD
660                   Lung King Heen       600-2980 HKD
661                          Caprice       550-2600 HKD
662        8½ Otto e Mezzo - Bombana       580-1380 HKD
663       L'Atelier de Joël Robuchon       598-2080 HKD
664                     Sushi Shikon              3 500
665                        The Eight       410-3080 MOP
666                 Robuchon au Dôme       688-3400 MOP
667                      Jade Dragon       300-2000 MOP
668                           Maaemo      2800-2800 NOK
669                             Masa         75-150 USD
670                           Per Se         75-150 USD
671                     Le Bernardin         75-150 USD
672              Eleven Madison Park        125-125 USD
673    Chef's Table at Brooklyn Fare         75-395 USD
674                          La Yeon  103000-270000 KRW
675                             Gaon  220000-290000 KRW
676                         Frantzén      3200-3200 SEK
677                        Le Palais      1100-2800 TWD
678     The Inn at Little Washington        149-238 USD
679                         Fat Duck        325-325 GBP
680                    Waterside Inn         64-175 GBP
681  Alain Ducasse at The Dorchester         70-185 GBP
682                    Gordon Ramsay         70-185 GBP

[683 rows x 2 columns]

In [152]:
df.to_csv('./output/test_restaurants_prices.csv')

In [ ]:
# Con API convertir a euros

In [153]:
[e.split(' ') for e in correct_price_2]
[e.split('-') for e in correct_price_2]

[['90-120', 'EUR'],
 ['59-120', 'EUR'],
 ['45-128', 'EUR'],
 ['61-118', 'EUR'],
 ['33-158', 'EUR'],
 ['59-99', 'EUR'],
 ['65-95', 'EUR'],
 ['52-78', 'EUR'],
 ['92-125', 'EUR'],
 ['89-127', 'EUR'],
 ['39-120', 'EUR'],
 ['53-145', 'EUR'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['25-50', 'USD'],
 ['75-150', 'USD'],
 ['25-50', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['25-50', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['25-50', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['25-50', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['80-150', 'USD'],
 ['75-150', 'USD'],
 ['60-130', 'USD'],
 ['75-150', 'USD'],
 ['30-57', 'USD'],
 ['30-133', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['53-155', 'USD'],
 ['500-900', 'HRK'],
 ['270-550', 'HRK'],
 ['428-690', 'HRK'],
 ['450-675', 'HRK'],
 ['480-820', 'HRK'],
 ['1160-3500', 'CZK'],
 ['3450-3450', 'CZK'],
 ['600-1100', 'DKK'],
 ['550-950', 'DKK'],
 ['800-1200', 'DKK'],
 ['1145-1145', 'DKK'],
 ['875-1200', 'DKK'],
 ['1000-1200', 'DKK'],
 ['395-1310', 'DKK'],
 ['850-1300', 'DKK'],
 ['475-895', 'DKK'],
 ['495-975', 'DKK'],
 ['420-900', 'DKK'],
 ['675-1200', 'DKK'],
 ['1600-1600', 'DKK'],
 ['435-1030', 'DKK'],
 ['965-2065', 'DKK'],
 ['700-1300', 'DKK'],
 ['525-1150', 'DKK'],
 ['480-1280', 'DKK'],
 ['695-695', 'DKK'],
 ['550-1395', 'DKK'],
 ['1300-1300', 'DKK'],
 ['65-119', 'EUR'],
 ['58-58', 'EUR'],
 ['65-105', 'EUR'],
 ['121-121', 'EUR'],
 ['62-169', 'EUR'],
 ['89-89', 'EUR'],
 ['65-120', 'EUR'],
 ['42-60', 'EUR'],
 ['59-86', 'EUR'],
 ['200-500', 'HKD'],
 ['100-750', 'HKD'],
 ['30-50', 'HKD'],
 ['150-850', 'HKD'],
 ['458-1288', 'HKD'],
 ['288-1000', 'HKD'],
 ['250-1500', 'HKD'],
 ['350-1388', 'HKD'],
 ['320-2000', 'HKD'],
 ['300-2200', 'HKD'],
 ['588-1200', 'HKD'],
 ['400-2000', 'HKD'],
 ['200-1000', 'HKD'],
 ['800-1200', 'HKD'],
 ['448-1708', 'HKD'],
 ['388-1888', 'HKD'],
 ['250-1000', 'HKD'],
 ['150-600', 'HKD'],
 ['100-200', 'HKD'],
 ['200-500', 'HKD'],
 ['200-500', 'HKD'],
 ['880-2680', 'HKD'],
 ['50-150', 'HKD'],
 ['93-500', 'HKD'],
 ['350-1000', 'HKD'],
 ['120-750', 'HKD'],
 ['500-1600', 'HKD'],
 ['350-1500', 'HKD'],
 ['380-1580', 'HKD'],
 ['488-1888', 'HKD'],
 ['1', '480'],
 ['588-2100', 'HKD'],
 ['60-360', 'HKD'],
 ['400-2000', 'HKD'],
 ['200-1000', 'HKD'],
 ['480-2800', 'HKD'],
 ['350-1000', 'HKD'],
 ['450-1000', 'HKD'],
 ['320-1500', 'HKD'],
 ['300-800', 'HKD'],
 ['2480-3580', 'HKD'],
 ['458-1488', 'HKD'],
 ['1', '680'],
 ['900-1288', 'HKD'],
 ['7900-24000', 'HUF'],
 ['9050-15850', 'HUF'],
 ['7500-19500', 'HUF'],
 ['25000-25000', 'HUF'],
 ['21000-26600', 'HUF'],
 ['430-1650', 'MOP'],
 ['200-1600', 'MOP'],
 ['200-2000', 'MOP'],
 ['150-500', 'MOP'],
 ['200-1300', 'MOP'],
 ['738-2988', 'MOP'],
 ['198-600', 'MOP'],
 ['300-3000', 'MOP'],
 ['488-2180', 'MOP'],
 ['350-1488', 'MOP'],
 ['300-2088', 'MOP'],
 ['750-1385', 'NOK'],
 ['1300-1300', 'NOK'],
 ['1600-1600', 'NOK'],
 ['1495-1495', 'NOK'],
 ['515-865', 'NOK'],
 ['595-1600', 'NOK'],
 ['1020-1195', 'NOK'],
 ['59-194', 'USD'],
 ['150-185', 'USD'],
 ['125-245', 'USD'],
 ['75-150', 'USD'],
 ['25-51', 'USD'],
 ['75-150', 'USD'],
 ['75-155', 'USD'],
 ['65-95', 'USD'],
 ['50-150', 'USD'],
 ['95-108', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['45-130', 'USD'],
 ['75-150', 'USD'],
 ['50-180', 'USD'],
 ['50-75', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['74-150', 'USD'],
 ['50-150', 'USD'],
 ['75-160', 'USD'],
 ['41-62', 'USD'],
 ['250-250', 'USD'],
 ['40-150', 'USD'],
 ['50-75', 'USD'],
 ['54-150', 'USD'],
 ['50-75', 'USD'],
 ['50-160', 'USD'],
 ['54-175', 'USD'],
 ['100-255', 'USD'],
 ['30-64', 'USD'],
 ['50-76', 'USD'],
 ['75-150', 'USD'],
 ['205-205', 'USD'],
 ['50-75', 'USD'],
 ['97-127', 'USD'],
 ['40-155', 'USD'],
 ['95-149', 'USD'],
 ['25-50', 'USD'],
 ['40-230', 'USD'],
 ['149-149', 'USD'],
 ['149-250', 'USD'],
 ['75-150', 'USD'],
 ['25-50', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['149-400', 'USD'],
 ['50-75', 'USD'],
 ['30-60', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['50-100', 'USD'],
 ['25-115', 'USD'],
 ['320-550', 'PLN'],
 ['150-420', 'PLN'],
 ['75-105', 'EUR'],
 ['55-99', 'EUR'],
 ['50-60', 'EUR'],
 ['60-85', 'EUR'],
 ['95-95', 'EUR'],
 ['120-135', 'EUR'],
 ['42-115', 'EUR'],
 ['55-110', 'EUR'],
 ['37-115', 'EUR'],
 ['38-60', 'EUR'],
 ['58-96', 'EUR'],
 ['75-115', 'EUR'],
 ['88-110', 'EUR'],
 ['175-450', 'BRL'],
 ['295-345', 'BRL'],
 ['345-345', 'BRL'],
 ['120-390', 'BRL'],
 ['220-420', 'BRL'],
 ['165-365', 'BRL'],
 ['124-470', 'BRL'],
 ['120-265', 'BRL'],
 ['155-420', 'BRL'],
 ['80-190', 'BRL'],
 ['150-260', 'BRL'],
 ['187-520', 'BRL'],
 ['175-360', 'BRL'],
 ['120-322', 'BRL'],
 ['180-295', 'BRL'],
 ['58000-200000', 'KRW'],
 ['150000-500000', 'KRW'],
 ['60000-120000', 'KRW'],
 ['75000-150000', 'KRW'],
 ['50000-100000', 'KRW'],
 ['50000-130000', 'KRW'],
 ['55000-110000', 'USD'],
 ['30000-95000', 'USD'],
 ['60000-125000', 'KRW'],
 ['55000-150000', 'USD'],
 ['60000-270000', 'KRW'],
 ['70000-190000', 'KRW'],
 ['240000-240000', 'KRW'],
 ['80850-231000', 'KRW'],
 ['65000-145000', 'KRW'],
 ['50000-100000', 'KRW'],
 ['70000-130000', 'KRW'],
 ['18500-75000', 'KRW'],
 ['150000-300000', 'KRW'],
 ['5-10', 'SGD'],
 ['30-50', 'SGD'],
 ['80-120', 'SGD'],
 ['39-228', 'SGD'],
 ['58-200', 'SGD'],
 ['75-500', 'SGD'],
 ['36-149', 'SGD'],
 ['30-90', 'SGD'],
 ['98-268', 'SGD'],
 ['78-178', 'SGD'],
 ['100-350', 'SGD'],
 ['39-197', 'SGD'],
 ['88-258', 'SGD'],
 ['50-150', 'SGD'],
 ['30-178', 'SGD'],
 ['68-258', 'SGD'],
 ['100-430', 'SGD'],
 ['120-400', 'SGD'],
 ['105-235', 'SGD'],
 ['55-200', 'SGD'],
 ['50-180', 'SGD'],
 ['125-600', 'SGD'],
 ['78-268', 'SGD'],
 ['48-250', 'SGD'],
 ['75-240', 'SGD'],
 ['3-15', 'SGD'],
 ['50-250', 'SGD'],
 ['52-148', 'SGD'],
 ['40-75', 'SGD'],
 ['20-128', 'SGD'],
 ['600-900', 'SEK'],
 ['545-945', 'SEK'],
 ['655-895', 'SEK'],
 ['560-650', 'SEK'],
 ['675-905', 'SEK'],
 ['1400-1400', 'SEK'],
 ['945-945', 'SEK'],
 ['685-685', 'SEK'],
 ['750-950', 'SEK'],
 ['890-1250', 'SEK'],
 ['1050-1550', 'SEK'],
 ['465-1275', 'SEK'],
 ['1600-1600', 'SEK'],
 ['895-1495', 'SEK'],
 ['495-695', 'SEK'],
 ['625-895', 'SEK'],
 ['500-800', 'TWD'],
 ['1250-3400', 'TWD'],
 ['1580-6880', 'TWD'],
 ['3500-7000', 'TWD'],
 ['800-6600', 'TWD'],
 ['1200-8800', 'TWD'],
 ['2000-3000', 'TWD'],
 ['2000-10000', 'TWD'],
 ['3', '750'],
 ['1500-2000', 'TWD'],
 ['3', '800'],
 ['3000-8000', 'TWD'],
 ['1700-2200', 'TWD'],
 ['2', '200'],
 ['1200-2900', 'TWD'],
 ['980-4680', 'TWD'],
 ['400-3000', 'TWD'],
 ['1200-5100', 'TWD'],
 ['300-1200', 'THB'],
 ['3', '300'],
 ['1100-2950', 'THB'],
 ['2212-2612', 'THB'],
 ['2400-2900', 'THB'],
 ['800-3280', 'THB'],
 ['1500-2400', 'THB'],
 ['1700-4400', 'THB'],
 ['1400-3600', 'THB'],
 ['1800-7000', 'THB'],
 ['2', '700'],
 ['1600-5600', 'THB'],
 ['450-2500', 'THB'],
 ['2200-2800', 'THB'],
 ['500-1000', 'THB'],
 ['400-1000', 'THB'],
 ['1300-2000', 'THB'],
 ['990-4800', 'THB'],
 ['1', '950'],
 ['2000-3500', 'THB'],
 ['500-1500', 'THB'],
 ['3000-6000', 'THB'],
 ['48-108', 'USD'],
 ['25-50', 'USD'],
 ['149-165', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['25-75', 'USD'],
 ['25-60', 'USD'],
 ['75-150', 'USD'],
 ['50-75', 'USD'],
 ['50-150', 'USD'],
 ['50-75', 'USD'],
 ['44-75', 'USD'],
 ['34-70', 'GBP'],
 ['30-55', 'GBP'],
 ['30-70', 'GBP'],
 ['22-60', 'GBP'],
 ['25-78', 'GBP'],
 ['35-80', 'GBP'],
 ['35-120', 'GBP'],
 ['90-105', 'GBP'],
 ['32-70', 'GBP'],
 ['40-70', 'GBP'],
 ['40-105', 'GBP'],
 ['70-90', 'GBP'],
 ['29-45', 'GBP'],
 ['55-95', 'GBP'],
 ['50-94', 'GBP'],
 ['36-90', 'GBP'],
 ['40-105', 'GBP'],
 ['48-95', 'GBP'],
 ['35-60', 'GBP'],
 ['42-70', 'GBP'],
 ['180-220', 'GBP'],
 ['98-125', 'GBP'],
 ['75-99', 'GBP'],
 ['25-61', 'GBP'],
 ['55-100', 'GBP'],
 ['30-57', 'GBP'],
 ['34-88', 'GBP'],
 ['63-89', 'GBP'],
 ['55-75', 'GBP'],
 ['30-61', 'GBP'],
 ['34-89', 'GBP'],
 ['45-70', 'GBP'],
 ['45-95', 'GBP'],
 ['40-95', 'GBP'],
 ['35-50', 'GBP'],
 ['50-90', 'GBP'],
 ['75-95', 'GBP'],
 ['30-79', 'GBP'],
 ['42-85', 'GBP'],
 ['38-95', 'GBP'],
 ['70-100', 'GBP'],
 ['29-75', 'GBP'],
 ['28-55', 'GBP'],
 ['28-75', 'GBP'],
 ['35-85', 'GBP'],
 ['65-145', 'GBP'],
 ['40-98', 'GBP'],
 ['34-88', 'GBP'],
 ['34-60', 'GBP'],
 ['48-118', 'GBP'],
 ['20-50', 'GBP'],
 ['27-65', 'GBP'],
 ['95-125', 'GBP'],
 ['75-95', 'GBP'],
 ['87-115', 'GBP'],
 ['33-85', 'GBP'],
 ['48-155', 'GBP'],
 ['62-80', 'GBP'],
 ['25-80', 'GBP'],
 ['29-65', 'GBP'],
 ['37-75', 'GBP'],
 ['95-95', 'GBP'],
 ['24-60', 'GBP'],
 ['29-56', 'GBP'],
 ['28-68', 'GBP'],
 ['22-34', 'GBP'],
 ['24-42', 'GBP'],
 ['42-105', 'GBP'],
 ['30-95', 'GBP'],
 ['34-60', 'GBP'],
 ['49-105', 'GBP'],
 ['35-110', 'GBP'],
 ['45-95', 'GBP'],
 ['40-58', 'GBP'],
 ['40-75', 'GBP'],
 ['32-70', 'GBP'],
 ['68-95', 'GBP'],
 ['25-75', 'GBP'],
 ['25-70', 'GBP'],
 ['35-85', 'GBP'],
 ['50-100', 'GBP'],
 ['29-116', 'GBP'],
 ['30-69', 'GBP'],
 ['33-50', 'GBP'],
 ['43-145', 'GBP'],
 ['28-59', 'GBP'],
 ['38-289', 'GBP'],
 ['37-85', 'GBP'],
 ['32-120', 'GBP'],
 ['37-110', 'GBP'],
 ['35-90', 'GBP'],
 ['29-98', 'GBP'],
 ['35-135', 'GBP'],
 ['28-68', 'GBP'],
 ['37-119', 'GBP'],
 ['32-105', 'GBP'],
 ['45-135', 'GBP'],
 ['35-60', 'GBP'],
 ['40-90', 'GBP'],
 ['29-72', 'GBP'],
 ['39-100', 'GBP'],
 ['28-90', 'GBP'],
 ['40-79', 'GBP'],
 ['45-125', 'GBP'],
 ['37-75', 'GBP'],
 ['20-40', 'GBP'],
 ['38-115', 'GBP'],
 ['59-140', 'GBP'],
 ['30-84', 'GBP'],
 ['28-95', 'GBP'],
 ['35-100', 'GBP'],
 ['22-66', 'GBP'],
 ['65-95', 'GBP'],
 ['52-64', 'GBP'],
 ['36-50', 'GBP'],
 ['31-85', 'GBP'],
 ['35-110', 'GBP'],
 ['24-95', 'GBP'],
 ['65-145', 'GBP'],
 ['22-46', 'GBP'],
 ['36-75', 'GBP'],
 ['25-65', 'GBP'],
 ['35-59', 'GBP'],
 ['38-77', 'GBP'],
 ['45-91', 'GBP'],
 ['42-114', 'GBP'],
 ['100-145', 'GBP'],
 ['40-70', 'GBP'],
 ['40-57', 'GBP'],
 ['45-95', 'GBP'],
 ['30-90', 'GBP'],
 ['48-95', 'GBP'],
 ['42-70', 'GBP'],
 ['29-65', 'GBP'],
 ['35-95', 'GBP'],
 ['29-70', 'GBP'],
 ['35-105', 'GBP'],
 ['99-185', 'EUR'],
 ['58-190', 'EUR'],
 ['140-140', 'EUR'],
 ['37-185', 'EUR'],
 ['116-195', 'EUR'],
 ['68-165', 'EUR'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['95-225', 'USD'],
 ['150-215', 'USD'],
 ['75-150', 'USD'],
 ['1400-1400', 'DKK'],
 ['695-1295', 'DKK'],
 ['1700-2000', 'DKK'],
 ['2500-2500', 'DKK'],
 ['1950-1950', 'DKK'],
 ['79-140', 'EUR'],
 ['298-1200', 'HKD'],
 ['350-2000', 'HKD'],
 ['450-2098', 'HKD'],
 ['2', '380'],
 ['200-2000', 'HKD'],
 ['1', '480'],
 ['558-2100', 'HKD'],
 ['300-1200', 'HKD'],
 ['488-2400', 'HKD'],
 ['2', '080'],
 ['618-2500', 'HKD'],
 ['680-4000', 'HKD'],
 ['18900-36900', 'HUF'],
 ['150-550', 'MOP'],
 ['250-2000', 'MOP'],
 ['250-1800', 'MOP'],
 ['488-2638', 'MOP'],
 ['1400-2100', 'MOP'],
 ['103-235', 'USD'],
 ['149-235', 'USD'],
 ['149-285', 'USD'],
 ['68-248', 'USD'],
 ['63-150', 'USD'],
 ['68-235', 'USD'],
 ['75-150', 'USD'],
 ['100-445', 'USD'],
 ['149-225', 'USD'],
 ['75-150', 'USD'],
 ['60-195', 'USD'],
 ['75-150', 'USD'],
 ['149-265', 'USD'],
 ['149-198', 'USD'],
 ['52-203', 'EUR'],
 ['335-435', 'BRL'],
 ['210-550', 'BRL'],
 ['375-645', 'BRL'],
 ['200000-380000', 'KRW'],
 ['66000-200000', 'KRW'],
 ['66000-185000', 'KRW'],
 ['75000-150000', 'USD'],
 ['60000-138000', 'KRW'],
 ['180-450', 'SGD'],
 ['128-328', 'SGD'],
 ['180-480', 'SGD'],
 ['60-110', 'SGD'],
 ['128-420', 'SGD'],
 ['3000-3000', 'SEK'],
 ['1595-1595', 'SEK'],
 ['2100-2100', 'SEK'],
 ['1600-1600', 'SEK'],
 ['1150-1950', 'SEK'],
 ['1850-3500', 'TWD'],
 ['4200-6500', 'TWD'],
 ['1650-2600', 'TWD'],
 ['3', '000'],
 ['1200-3280', 'TWD'],
 ['2000-4400', 'THB'],
 ['6', '500'],
 ['1800-7500', 'THB'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['110-155', 'GBP'],
 ['59-155', 'GBP'],
 ['150-180', 'GBP'],
 ['70-135', 'GBP'],
 ['95-135', 'GBP'],
 ['140-140', 'GBP'],
 ['105-190', 'GBP'],
 ['50-135', 'GBP'],
 ['30-75', 'GBP'],
 ['80-150', 'GBP'],
 ['70-145', 'GBP'],
 ['70-180', 'GBP'],
 ['150-150', 'GBP'],
 ['60-185', 'GBP'],
 ['45-105', 'GBP'],
 ['50-200', 'GBP'],
 ['114-126', 'GBP'],
 ['45-155', 'GBP'],
 ['65-185', 'GBP'],
 ['69-235', 'EUR'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['250-270', 'USD'],
 ['2500-2500', 'DKK'],
 ['360-1700', 'HKD'],
 ['750-2680', 'HKD'],
 ['600-2980', 'HKD'],
 ['550-2600', 'HKD'],
 ['580-1380', 'HKD'],
 ['598-2080', 'HKD'],
 ['3', '500'],
 ['410-3080', 'MOP'],
 ['688-3400', 'MOP'],
 ['300-2000', 'MOP'],
 ['2800-2800', 'NOK'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['75-150', 'USD'],
 ['125-125', 'USD'],
 ['75-395', 'USD'],
 ['103000-270000', 'KRW'],
 ['220000-290000', 'KRW'],
 ['3200-3200', 'SEK'],
 ['1100-2800', 'TWD'],
 ['149-238', 'USD'],
 ['325-325', 'GBP'],
 ['64-175', 'GBP'],
 ['70-185', 'GBP'],
 ['70-185', 'GBP']]